<ion-header>
  <ion-navbar>
    <ion-title>
      Senior Status
    </ion-title>
  </ion-navbar>
</ion-header>

<!--ion-content padding>

  <ion-card>
    <ion-card-content>Status: <b>{{mqtt.status}}</b></ion-card-content>
  </ion-card>

  <ion-row justify-content-center align-items-center>
    <button ion-button (click)="mqtt.connect()">Connect</button>
    <button ion-button (click)="mqtt.disconnect()">Disconnect</button>
  </ion-row>

  <ion-card>
    <ion-card-header>Message Received:</ion-card-header>
    <ion-card-content>{{mqtt.message}}</ion-card-content>
  </ion-card>

  <ion-label stacked>Message to Send:</ion-label>
  <ion-textarea [(ngModel)]='mqtt.messageToSend'>{{mqtt.messageToSend}}</ion-textarea>
  <button ion-button full (click)="mqtt.sendMessage()">Send Message</button>
</ion-content -->
<ion-content padding>

  <ion-card>
    <ion-card-content>Status: <b>{{mqtt.status}}</b></ion-card-content>
  </ion-card>

  <ion-row justify-content-center align-items-center>
    <button ion-button (click)="mqtt.connect()">Connect</button>
    <button ion-button (click)="mqtt.disconnect()">Disconnect</button>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <h2>Last Seen</h2>
    </ion-card-header>
    <ion-card-content *ngIf="mqtt.locationBuffer_lastSeen && mqtt.locationBuffer_lastSeen.length > 0">
      <ion-card *ngFor="let lastSeenLocation of mqtt.locationBuffer_lastSeen">
        <ion-card-content>
          {{mqtt.prettifyLocation(lastSeenLocation?.location)}} about {{lastSeenLocation?.timestamp.fromNow()}}
        </ion-card-content>
      </ion-card>
    </ion-card-content>
    <ion-card-content *ngIf="!mqtt.locationBuffer_lastSeen || mqtt.locationBuffer_lastSeen.length == 0">
      No detected movement since {{mqtt.noMotionTimer.fromNow()}}.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>Motion Activity</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div id="heatmap" style="margin: auto; width: 370px; height: 208px; background-image: url('assets/imgs/house.jpg'); background-repeat:no-repeat; background-size:contain;">
          </div>
        </ion-col>
        <ion-col>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col"># of Motion Detected</th>
              </tr>
            </thead>
            <tbody *ngIf="!mqtt.motionActivity_count">
              <tr>
                <td class="text-center" colspan="2">No Motion detected yet.</td>
              </tr>
            </tbody>
            <tbody *ngIf="mqtt.motionActivity_count">
              <tr *ngFor="let location of objectKeys(mqtt.motionActivity_count)">
                <th scope="row">{{location}}</th>
                <td>{{mqtt.motionActivity_count[location]}}</td>
              </tr>
            </tbody>
          </table>
          <!--ion-grid>
            <ion-row>
              <ion-col style="border: grey 1px solid; font-weight: bold;">Location</ion-col>
              <ion-col style="border: grey 1px solid; font-weight: bold;"># of Motion Detected</ion-col>
            </ion-row>
            <ion-row *ngIf="!mqtt.motionActivity_count">
              <ion-col text-center style="border: grey 1px solid;">No Motion detected yet.</ion-col>
            </ion-row>
            <ion-row *ngIf="mqtt.motionActivity_count">
              <ng-template *ngFor="let location of objectKeys(mqtt.motionActivity_count)">
                <ion-col style="border: grey 1px solid;">{{location}}</ion-col>
                <ion-col style="border: grey 1px solid;">{{mqtt.motionActivity_count[location]}}</ion-col>
              </ng-template>
            </ion-row>
          </ion-grid -->
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
