<ion-header>
  <ion-navbar>
    <ion-title>
      Senior Status
    </ion-title>
  </ion-navbar>
</ion-header>

<!--ion-content padding>

  <ion-card>
    <ion-card-content>Status: <b>{{mqtt.status}}</b></ion-card-content>
  </ion-card>

  <ion-row justify-content-center align-items-center>
    <button ion-button (click)="mqtt.connect()">Connect</button>
    <button ion-button (click)="mqtt.disconnect()">Disconnect</button>
  </ion-row>

  <ion-card>
    <ion-card-header>Message Received:</ion-card-header>
    <ion-card-content>{{mqtt.message}}</ion-card-content>
  </ion-card>

  <ion-label stacked>Message to Send:</ion-label>
  <ion-textarea [(ngModel)]='mqtt.messageToSend'>{{mqtt.messageToSend}}</ion-textarea>
  <button ion-button full (click)="mqtt.sendMessage()">Send Message</button>
</ion-content -->
<ion-content padding style="background-color: gainsboro">
  <mqtt-status></mqtt-status>

  <!-- Motion Activity -->
  <ion-card>
    <ion-card-header>
      <h2>Motion Activity</h2>
    </ion-card-header>
    <ion-card-content [ngStyle]="{'padding-left': (platform.width() < 420) ? '0px' : '16px', 'padding-right': (platform.width() < 420) ? '0px' : '16px' }">
      <ion-row>
        <ion-col no-padding>
          <div id="heatmap" style="margin: auto; width: 370px; height: 208px; background-image: url('assets/imgs/house.jpg'); background-repeat:no-repeat; background-size:contain;">
          </div>
        </ion-col>
        <ion-col>
          <table class="pure-table pure-table-horizontal" style="width: 100%">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col"># of Motion Detected</th>
              </tr>
            </thead>
            <tbody *ngIf="!mqtt.motionActivity_count || objectKeys(mqtt.motionActivity_count).length === 0">
              <tr>
                <td style="text-align: center;" colspan="2">No Motion detected yet.</td>
              </tr>
            </tbody>
            <tbody *ngIf="mqtt.motionActivity_count && objectKeys(mqtt.motionActivity_count).length > 0">
              <tr *ngFor="let location of objectKeys(mqtt.motionActivity_count)">
                <th scope="row">{{mqtt.prettifyLocation(location)}}</th>
                <td text-center>{{mqtt.motionActivity_count[location]}}</td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!--Last Seen -->
  <ion-card>
    <ion-card-header>
      <h2>Latest Motion Detected</h2>
    </ion-card-header>
    <ion-card-content *ngIf="mqtt.locationBuffer_lastSeen && mqtt.locationBuffer_lastSeen.length > 0">
      <ion-list>
        <div *ngFor="let lastSeenLocation of mqtt.locationBuffer_lastSeen">
          {{mqtt.prettifyLocation(lastSeenLocation?.location)}} about {{lastSeenLocation?.timestamp.fromNow()}}.
        </div>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf="!mqtt.locationBuffer_lastSeen || mqtt.locationBuffer_lastSeen.length == 0">
      No detected movement since {{mqtt.getNoMotionDetectedTime().fromNow()}}.
    </ion-card-content>
  </ion-card>
</ion-content>
